body {
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: 100px 1200px;
  background-size: 30%;
}

h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #111;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 4px;
}

#weatherdescrip {
  position: relative;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: right;
  top: 70px;
  padding-right: 150px;
}

.wlogo {
  padding-bottom: 30px;
  padding-top: 55px;
  width: 40%;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

.footer-n {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #111;
}

.foot-name {
  text-align: center;
  margin-top: 1200px;
  padding-bottom: 35px;
}

#cityHead {
  font-size: 145px;
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-top: 200px;
}

#temp {
  font-size: 130px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 30px;
  padding-left: 450px;
}

#unit {
  font-size: 130px;
  font-family: sans-serif;
  text-align: center;
  padding-left: 20px;
  margin-top: 30px;
}

#weathermain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#searchCont {
  margin-top: 250px;
  height: 250px;
}

.searchSection {
  font-size: 62px;
  width: 82%;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-color: black;
  border: 1px solid;
}

#resetbtn {
  font-size: 62px;
  color: black;
  width: 40%;
  display: inline-block;
  margin: auto;
  margin-top: 30px;
  margin-left: 87px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  background-color: #ABB2B9;
}

#searchbtn {
  font-size: 62px;
  color: white;
  width: 40%;
  display: inline-block;
  margin: auto;
  margin-left: 15px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  background-color: #4A235A;
}

#btnscrolltop {
  visibility: hidden;
}

@media only screen and (min-width:1281px) {
  .wlogo {
    width: 25%;
    display: -webkit-inline-box;
    position: relative;
    left: 37.5%;
  }

  .searchSection {
    font-size: 29px;
    width: 37%;
  }

  #resetbtn {
    font-size: 29px;
    width: 17%;
    margin-left: 593px;
  }

  #searchbtn {
    font-size: 29px;
    width: 17%;
    margin-left: 55px;
  }

  #searchCont {
    margin-top: 180px;
    height: 400px;
  }

  #btnscrolltop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #FE0000;
    outline: none;
    cursor: pointer;
    color: white;
    visibility: visible;
  }

  .footer-n {
    font-size: 20px;
  }

  body {
    background-position: 950px 1500px;
    background-size: 15%;
  }

  #temp {
    margin-right: 15px;
    padding-top: 200px;
  }

  #unit {
    margin-right: 370px;
    padding-top: 200px;
  }

  #weatherdescrip {
    bottom: 420px;
  }
}
